absl-py==2.3.1
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiohttp-retry==2.9.1
aiosignal==1.4.0
altair==5.5.0
altgraph @ file:///AppleInternal/Library/BuildRoots/39d9dc1a-2111-11f0-be06-226177e5bb69/Library/Caches/com.apple.xbs/Sources/python3/altgraph-0.17.2-py2.py3-none-any.whl
astunparse==1.6.3
async-timeout==5.0.1
attrs==25.3.0
bcrypt==4.2.0
beautifulsoup4==4.13.4
blinker==1.9.0
cachetools==5.5.2
certifi==2025.7.14
chardet==5.2.0
charset-normalizer==3.4.2
click==8.1.8
Flask==3.1.1
flask-cors==6.0.1
flatbuffers==25.2.10
frozendict==2.4.6
frozenlist==1.7.0
future @ file:///AppleInternal/Library/BuildRoots/39d9dc1a-2111-11f0-be06-226177e5bb69/Library/Caches/com.apple.xbs/Sources/python3/future-0.18.2-py3-none-any.whl
gast==0.6.0
gitdb==4.0.12
GitPython==3.1.45
google-auth==2.40.3
google-auth-oauthlib==1.2.2
google-pasta==0.2.0
grpcio==1.74.0
h5py==3.14.0
html5lib==1.1
idna==3.10
importlib-metadata==6.11.0
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.1
jsonschema==4.25.0
jsonschema-specifications==2025.4.1
keras==2.15.0
libclang==18.1.1
lxml==6.0.0
macholib @ file:///AppleInternal/Library/BuildRoots/39d9dc1a-2111-11f0-be06-226177e5bb69/Library/Caches/com.apple.xbs/Sources/python3/macholib-1.15.2-py2.py3-none-any.whl
Markdown==3.8.2
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
ml-dtypes==0.2.0
multidict==6.6.3
multitasking==0.0.12
mysql-connector-python==8.4.0
narwhals==2.0.1
nltk==3.9.1
numpy==1.26.4
oauthlib==3.3.1
opt_einsum==3.4.0
packaging==23.2
pandas==2.2.2
peewee==3.18.2
pillow==10.4.0
platformdirs==4.3.8
plotly==5.22.0
propcache==0.3.2
protobuf==4.25.8
pyarrow==21.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pydeck==0.9.1
Pygments==2.19.2
PyJWT==2.10.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.2
referencing==0.36.2
regex==2025.7.34
reportlab==4.2.2
requests==2.32.4
requests-oauthlib==2.0.0
rich==13.9.4
rpds-py==0.26.0
rsa==4.9.1
scikit-learn==1.5.1
scipy==1.13.1
six @ file:///AppleInternal/Library/BuildRoots/39d9dc1a-2111-11f0-be06-226177e5bb69/Library/Caches/com.apple.xbs/Sources/python3/six-1.15.0-py2.py3-none-any.whl
smmap==5.0.2
soupsieve==2.7
streamlit==1.27.2
ta==0.11.0
tenacity==8.5.0
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.37.1
tensorflow-macos==2.15.0
termcolor==3.1.0
TextBlob==0.18.0
threadpoolctl==3.6.0
toml==0.10.2
tornado==6.5.1
tqdm==4.67.1
twilio==9.2.3
typing_extensions==4.14.1
tzdata==2025.2
tzlocal==5.3.1
urllib3==2.5.0
validators==0.35.0
webencodings==0.5.1
Werkzeug==3.1.3
wrapt==1.14.1
yarl==1.20.1
yfinance==0.2.40
zipp==3.23.0
